@model IEnumerable<DisasterAlleviation.Models.DisplayRecords>

<body style="background-color: mediumpurple;">
    <div class="text-center" style="margin-top:4%">
        <h1 style="color:white;" class="display-4">All Disasters</h1>
    </div>
    <br />
    <table border="0" cellspacing="1" cellpadding="2" class="table table-striped" style="color:white">
        <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Location</th>
            <th>Description</th>
        </tr>
        @foreach (DisplayRecords d in Model)
        {
            <tr>
                <td>@d.StartDate</td>
                <td>@d.EndDate</td>
                <td>@d.Location</td>
                <td>@d.dDescription</td>
            </tr>
        }
    </table>
    </body>


