@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Purchase Page";
}
<body style="background-color: mediumpurple;">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">

                <div class="text-center" style="margin-top:4%">
                    <h1 style="color:white;" class="display-4">Purchase Goods</h1>
                </div>
                <div class="text-center" style="margin-top:4%">
                    <br />                
                    <div style="width: 600px; background-color: orange; backdrop-filter: blur(10px); box-shadow: 0 0 40px rgba(8,7,16,0.16); border-radius: 0px; padding: 50px 35px;">
                        <h2>Goods Purchases</h2>
                        <form asp-controller="Home" asp-action="PurchaseGoods" method="post">
                            <div class="form-row">
                                <div class="form-group text-left">
                                    <label for="inputItems">Price</label>
                                    <input type="number" class="form-control" name="Price" id="Price" placeholder="R">
                                </div>             
                            </div>
                            <div class="form-group text-left">
                                <label for="category">Category</label>
                                <select class="form-control" id="category" name="Category" required>
                                    <option value="Clothes">Clothes</option>
                                    <option value="Non-perishable Foods">Non-perishable Foods</option>
                                    <option value="Household Items">Household Items</option>
                                    <option value="Electronics">Electronics</option>
                                    <option value="Toys and Games">Toys and Games</option>
                                    <option value="Toiletries">Toiletries</option>
                                    <option value="Stationery">Stationery</option>
                                    <option value="Medical Supplies">Medical Supplies</option>
                                    <option value="Educational Materials">Educational Materials</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="form-group text-left">
                                <label for="inputDescription">Description of new goods</label>
                                <input type="text" class="form-control" name="Description" id="Description" style="height:90px;" required>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary" style="background-color: mediumpurple;">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</body>