@model IEnumerable<DisasterAlleviation.Models.DisplayRecords>

<body style="background-color: mediumpurple;">
    <div class="text-center" style="margin-top:4%">
        <h1 style="color:white;" class="display-4">All Purchased Goods</h1>
    </div>
    <br />
    <table border="0" cellspacing="1" cellpadding="2" class="table table-striped" style="color:white">
        <tr>
            <th>Price</th>
            <th>Category</th>
            <th>Description</th>
        </tr>
        @foreach (DisplayRecords d in Model)
        {
            <tr>
                <td>@d.Price</td>
                <td>@d.Category</td>
                <td>@d.Description</td>
            </tr>
        }
    </table>
    </body>


